# Backend
fastapi
uvicorn
pydantic
python-dotenv
psycopg2-binary
sqlalchemy
sentence-transformers
sentencepiece
# Data Collection
newspaper3k
lxml_html_clean
feedparser
beautifulsoup4
requests

# ML & NLP
torch
transformers
sentence-transformers
scikit-learn
nltk
spacy>=3.4.0

# Evaluation
rouge-score
bert-score

# Data Science
pandas
numpy
python-dateutil>=2.8.0

# Visualization  
matplotlib
seaborn
plotly

# Interface
jupyter
streamlit
ipywidgets

# Utils
tqdm
pathlib
pickle
json
